extends ../layout

block content
    h1= title
    a(onclick="addStory()", class="add_link")!="Add"
    .lane
        .heading="All"
        - each story in stories
          div.story(draggable="true")
            div.title 
                a(onclick="openStory("+story._id + ");")!= story.title
            div.text= story.body
    #newStory
        .close(onclick="closePopup()")
        form(action="/stories/create", method="POST", class="forms columnar")
            fieldset
                ul
                    li
                        input#storyTitle(type="text", name="title", class="width-100", placeholder="Story name")
                        #storyTitleDiv(contenteditable="true", class="textFieldDiv")
                    li
                        select#storyOwner(name="owner")
                            option(value="1")="Aishwarya"
                            option(value="2")="Amit"
                        .right
                            label="Points"
                            .storypoints
                                input#storyPoints(type="radio", name="points", value="1")
                                label="1"
                                input#storyPoints(type="radio", name="points", value="2")
                                label="2"
                                input#storyPoints(type="radio", name="points", value="3")
                                label="3"
                                input#storyPoints(type="radio", name="points", value="5")
                                label="5"
                                input#storyPoints(type="radio", name="points", value="8")
                                label="8"
                                input#storyPoints(type="radio", name="points", value="13")
                                label="13"
                                input#storyPoints(type="radio", name="points", value="21")
                                label="21"
                                input#storyPoints(type="radio", name="points", value="34")
                                label="34"
                    li
                        textarea#storyDetails(name="details", class="width-100", placeholder="Story details")
                        #storyDetailsDiv(contenteditable="true", class="textAreaDiv")
                    li
                        a(onclick="closePopup()", class="btn")="Close"
                        input(type="submit", class="btn")
    #fade
